<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<div>
  <strong>Categories:</strong>
  <ul>
    <% @bookmark.categories.each do |c| %>
      <li><%= c %></li>
    <% end %>
  </ul>
</div>

<div>
  <strong>Kinds:</strong>
  <ul>
    <% @bookmark.kinds.each do |k| %>
      <li><%= k %></li>
    <% end %>
  </ul>
    

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
